<mat-toolbar>
  <button mat-icon-button [routerLink]="['/cart']" aria-label="Back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Checkout</span>
</mat-toolbar>

<main>
  <dl *ngIf="cartItems$ | async as cartItems">
    <ng-container *ngFor="let cartItem of cartItems">
      <dt>{{ cartItem.quantity }}x {{ cartItem.product.title }}</dt>
      <dd>
        {{ cartItem.quantity * cartItem.product.price | currency }}
      </dd>
    </ng-container>
    <dt><b>Total</b></dt>
    <dd>
      <b>{{ totalCosts$ | async | currency }}</b>
    </dd>
  </dl>
  <button mat-button>Confirm</button>
</main>
