<mat-toolbar>
  <button mat-icon-button [routerLink]="['/products']" aria-label="Back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Cart</span>
</mat-toolbar>

<main>
  <mat-card *ngFor="let cartItem of cartItems$ | async">
    <mat-card-header>
      <mat-card-title>{{ cartItem.product.title }}</mat-card-title>
      <mat-card-subtitle>{{
        cartItem.product.price | currency
      }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <app-quantity-selector
        [quantity]="cartItem.quantity"
        (quantityChange)="update(cartItem.product.id, $event)"
      />
    </mat-card-actions>
  </mat-card>

  <button mat-button [routerLink]="['../checkout']">Checkout</button>
</main>
