<mat-toolbar>
  <span>Products</span>
  <button
    style="margin-left: auto"
    mat-button
    aria-label="Cart"
    [routerLink]="'/cart'"
    [matBadge]="cartItemsCounter$ | async"
  >
    Cart
  </button>
</mat-toolbar>

<main>
  <form>
    <mat-form-field>
      <mat-label>Select category</mat-label>
      <mat-select
        [ngModel]="category()"
        (ngModelChange)="categoryChange($event)"
        name="category"
      >
        <mat-option [value]="''">All</mat-option>
        <mat-option
          *ngFor="let category of categories$ | async"
          [value]="category.title"
        >
          {{ category.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <app-product-list-item
    *ngFor="let product of products$ | async"
    [product]="product"
    (add)="add($event)"
    (quantityChange)="update(product.id, $event)"
  />
</main>
