<mat-card *ngIf="product">
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    {{ product.description }}
  </mat-card-content>

  <mat-card-actions>
    <app-quantity-selector
      *ngIf="quantity$ | async as quantity; else addButton"
      [quantity]="quantity"
      (quantityChange)="quantityChange.emit($event)"
    />

    <ng-template #addButton>
      <button mat-button (click)="add.emit(product)">Add</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
